<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"no-results not-found","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"80px","bottom":"80px","left":"20px","right":"20px"}}}} -->
<main class="wp-block-group no-results not-found" style="padding-top:80px;padding-right:20px;padding-bottom:80px;padding-left:20px">

	<!-- wp:group {"className":"page-header","layout":{"type":"default"}} -->
	<div class="wp-block-group page-header">
		<!-- wp:heading {"level":1,"className":"page-title","textAlign":"center"} -->
		<h1 class="wp-block-heading has-text-align-center page-title">Oops! That page can&rsquo;t be found.</h1>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"page-content","layout":{"type":"default"}} -->
	<div class="wp-block-group page-content">
		<!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center">It looks like nothing was found at this location. Maybe try a search?</p>
		<!-- /wp:paragraph -->

		<!-- wp:group {"layout":{"type":"constrained","contentSize":"400px"}} -->
		<div class="wp-block-group">
			<!-- wp:search {"label":"Search for:","showLabel":false,"placeholder":"What kind of job are you looking for?","buttonText":"Find Jobs","buttonPosition":"button-outside"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
