<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

	<!-- wp:group {"className":"entry-article","layout":{"type":"default"}} -->
	<div class="wp-block-group entry-article">
		<!-- wp:group {"tagName":"article","className":"hentry","layout":{"type":"default"}} -->
		<article class="wp-block-group hentry">

			<!-- wp:group {"className":"entry-header","layout":{"type":"default"}} -->
			<header class="wp-block-group entry-header">
				<!-- wp:post-title {"level":1,"className":"entry-title"} /-->
			</header>
			<!-- /wp:group -->

			<!-- wp:group {"className":"entry-content","layout":{"type":"default"}} -->
			<div class="wp-block-group entry-content">
				<!-- wp:post-content /-->
				<!-- wp:pattern {"slug":"jobswp-2025/remove-job-form"} /-->
			</div>
			<!-- /wp:group -->

		</article>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
